@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-color: rgba(10, 10, 10, 0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color:rgba(43, 43, 43, 0.9);
}

::-webkit-scrollbar:hover {
  background-color:rgba(43, 43, 43, 0.9);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 12px #1560bd;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 12px #1560bd;
}